[Desktop Entry]
Name=TUBE2GO
StartupWMClass=TUBE2GO
Comment=Tube2go for Desktop
GenericName=Tube2go for Linux
Exec=tube2go.sh %u
Icon=com.warlordsoftwares.tube2go
Terminal=false
Type=Application
StartupNotify=true
Keywords=video downloader;youtube to mp3;online video downloader;download youtube videos;hd video downloader;
Categories=Utility;Qt;