[Desktop Entry]
Version=1.0
GenericName=tube2go
Name=TUBE2GO
Type=Application
Icon=tube2go.png
Keywords=video downloader;youtube to mp3;online video downloader;download youtube videos;hd video downloader;
Exec=tube2go %F
Categories=Utility;Qt;
Terminal=false
Name[en_US]=TUBE2GO